@media (min-width: 992px) {
.navbar {
    position: absolute;
}

}
@media (max-width: 991.98px) {
    .navbar {
        position: relative;
        background-color: black;
    }
   
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        height: 150px;
        width: 110px;
        background-color: white;
    }
    .carousel-control-prev-icon {
        border-radius: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        height: 150px;
        width: 110px;
        background-color: white;
    }
    
    @media (max-width: 991.98px) {
        .list-group-horizontal {
            flex-direction: row;
        }
        .list-group-horizontal1 {
            flex-direction: row;
        }
    }
    @media (min-width: 992px) {
        .list-group-horizontal {
            flex-direction: column;
        }
        .list-group-horizontal1 {
            flex-direction: row;
        }
        
    }